html{
    font-family: 'Roboto', sans-serif;;
}
header{
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(to right,rgba(0, 0, 190, 0.685), rgb(100, 255, 0));
    background-color: rgba(0, 0, 190, 0.685);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: space-evenly;
}

nav ul{
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li{
    color:rgb(100, 255, 0);
}

nav ul li a{
    color:rgba(0, 0, 190, 0.685);
}

h1 {
    color: rgb(100, 255, 0);
    font-family: 'Roboto', sans-serif;
    animation-name: titulo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes titulo{
    0%{
        background-image: linear-gradient(to right,rgba(0, 0, 190, 0.685), rgb(255, 255, 255) 100%,rgba(0, 0, 190, 0.685));
    }
    20%{
        background-image: linear-gradient(to right,rgba(0, 0, 190, 0.685), rgb(255, 255, 255) 80%,rgba(0, 0, 190, 0.685));
    }
    40%{
        background-image: linear-gradient(to right,rgba(0, 0, 190, 0.685), rgb(255, 255, 255) 60%,rgba(0, 0, 190, 0.685));
    }
    60%{
        background-image: linear-gradient(to right,rgba(0, 0, 190, 0.685), rgb(255, 255, 255) 40%,rgba(0, 0, 190, 0.685));
    }
    80%{
        background-image: linear-gradient(to right,rgba(0, 0, 190, 0.685), rgb(255, 255, 255) 20%,rgba(0, 0, 190, 0.685));
    }
    100%{
        background-image: linear-gradient(to right,rgba(0, 0, 190, 0.685), rgb(255, 255, 255) 0%,rgba(0, 0, 190, 0.685));
    }
}
h2 {
    display: flex;
    justify-content: center;
    color: rgb(100, 255, 0);
    font-family: 'Roboto', sans-serif;
    width: 20rem;
}
.comprar{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-width: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-color: lightgreen blue lightgreen blue;
    text-decoration-color: black;
    background-color: grey;
    transition:background-image 500ms;
}
.comprar:hover{
    background-image: linear-gradient(to right,rgba(0, 0, 190, 0.685), rgb(100, 255, 0));
}
.centrar{
    display: flex;
    justify-content: center;
}
.contacto{
    width: 40rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 190, 0.685);
}

table tbody tr td p{
    overflow: scroll;
    width: auto;
    height: 5rem;
}
.tabla tbody tr td button{
     display: flex;
     justify-content: center;
}


.productos{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(100, 255, 0);
    width: 20rem;
    height: 3rem;
    margin: 1rem;
    background-color: rgba(0, 0, 190, 0.685);
    border-color: rgb(100, 255, 0);
}
td img {
    width: 20rem;
    height: 20rem;
}
form{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form input{
    width: 10rem;
    height: 1.5rem;
}
.entradas{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer{
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 190, 0.685);
    color: rgb(100, 255, 0);
    display: flex;
    justify-content: space-between;
    
}
.redes{
    display: flex;
    align-items: center;
}
footer .redes ul{
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(100, 255, 0);
}
footer .redes ul li a{
    color: rgb(100, 255, 0);
}